/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Quiz container */
#quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="number"] {
    margin-bottom: 15px; /* Add vertical space below the input field */
    font-size: 18px; /* Increase font size for better visibility */
    padding: 12px; /* Add padding to make the field larger */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 160px; /* Set the width of the buttons to 160 pixels */
    margin: 5px auto; /* Center the buttons horizontally */
    display: block; /* Ensure buttons are block-level elements */
}

button:hover {
    background-color: #45a049;
}

#feedback {
    color: black;
    margin-top: 10px;
    font-size: 14px;
}

/* Stats section */
#stats, #correct-container, #almost-correct-container {
    margin-top: 1px; /* Further reduce the gap between stats */
}

#stats p, #correct-container p, #almost-correct-container p {
    margin: 10px
}

span.correct {
    color: green;
}

span.almost-correct {
    color: orange;
}

span.incorrect {
    color: red;
}

/* Responsive design */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #quiz-container {
        width: 100%;
    }

    button {
        width: 160px;
    }
}